<div>
  <div class="content-box">
    <h3>
    <div class="title-box">
		Editar Petición Servicio  
    </div>  
    <div class="btns-box">            
    </div></h3>
    <div class="content">
     	<%= render 'form' %>
    </div>
  </div>
</div>
