<form target="_blank" class="form-search" action="/incidente/incidentes/report_actividades_usuario">
<div>
  <div class="content-box">
    <div class="content-header">
    <h3>
    <div class="title-box">
           Reporte de Actividades de Incidente por Usuario
    </div>  
    <div class="btns-box">       
    	<input type="submit" value="Lanzar">
    </div></h3>
    </div>
    <div class="content">
     	<table class="form-table"> 
     	
     	<tr>
     	<td><label>Usuario:</label></td>
     	<td colspan="3">
     	<select id="usuario" name="usuario" style="width:98%">
			<option value=""></option>
			<%@usuarios.each do |i|%>
			<option value="<%= i.id%>"><%= (i.nombres + ' ' + i.apellidos)%></option>
			<%end%>
		</select>     	
     	</td>
     	</tr>
     	 
  <tr>
    <td><label>Fecha Inicio</label></td>
    <td><input type="text" id="inicio" name="inicio"></td>
    <td><label>Fecha Fin</label></td>
    <td><input type="text" id="fin" name="fin"></td>
  </tr> 
</table> 
 <script>
    $(function() {
        $( "#inicio" ).datepicker();
        $( "#fin" ).datepicker();
    });
    </script>     	
     	
    </div>
  </div>
</div>
</form>