<form target="_blank" class="form-search" action="/incidente/incidentes/report">
<div>
  <div class="content-box">
    <div class="content-header">
    <h3>
    <div class="title-box">
           Reporte de Incidente
    </div>  
    <div class="btns-box">       
    	<input type="submit" value="Lanzar">
    </div></h3>
    </div>
    <div class="content">
     	<table class="form-table">  
  <tr>
    <td><label>Incidente ID:</label></td>
    <td><input type="text" id="inicio" name="id"></td>    
  </tr> 
</table> 
      	
     	
    </div>
  </div>
</div>
</form>