	
	<div class="container_12">
	<div class="grid_8 prefix_2 suffix_2">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div style="width:auto; padding:20px;" class="main login">
        
        	<div class="content-box">
            
            	<div class="content-header">
                
                	<h3>Autenticaci&oacute;n</h3>
                
                </div>
                	      
                	<div class="lileft">
                		<div style="margin-top: 20px; margin-left: 64.5px">
                			<a>
					   	 		<img alt="Logo SINIHAS" src="/assets/logosinihas.jpg">
					   		</a>
                		</div>
                    </div>
                    
					<div class="liright">
						<p>Ingrese los datos para iniciar sesi&oacute;n:</p>
                    
						<label>Usuario</label>
                        <%= f.text_field :usuario %>
                        
                        <label>Contrase&ntilde;a</label>                    
                        <%= f.password_field :password %>
                        
                        <p class="link">
                    		<%= f.submit "Entrar" %>
                    	</p>
                    </div>
                    
                    <div class="clear"></div>
                	            
            </div>
    
    	</div>
    <% end %>
    </div>
    </div>